.content table {
    margin: 0 auto;
    width: 80%;
    color: white;
    border-collapse: collapse;
  }
  
  .content table th,
  .content table td {
    padding: 10px;
    text-align: center;
  }
  
  .content table th {
    font-size: 16px;
    border-bottom: 1px solid white;
  }
  
  .content table td {
    font-size: 14px;
  }
  
  .content table tr:nth-child(even) {
    background-color: #333333;
  }
  